#evand {
  position: relative;
  direction: rtl;
  margin: auto;
  max-width: 800px;
  padding: 15px;

  h3 {
    font-weight: normal;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 5px;
  }

  select.count {
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    width: 100%;
    height: 32px;
    display: block;
  }

  button {
    cursor: pointer;
    background-color: #7EB530;
    border-radius: 15px;
    color: #fff;
    border: none;
    padding: 0 25px 5px;
    font-weight: bold;
    font-size: 1em;
    line-height: 30px;
    outline: none;

    &:hover {
      background-color: #8CC33E;
    }
  }

  table {
    border-collapse: collapse;

    &.order {
      td:not(:first-child) {
        text-align: center;
      }
    }

    &.proforma {
      td {
        &:nth-child(1) {
          width: 60px;
        }

        &:last-child {
          width: 110px;
        }

        &:not(:nth-child(2)) {
          text-align: center;
        }
      }

      th {
        &:nth-child(2) {
          text-align: right;
        }
      }
    }

    td, th {
      padding: 10px 5px;
      small{
        color: #777;
      }
    }
  }

  .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    svg {
      display: block;
      margin: auto;
    }
  }

  .button-wrapper {
    text-align: left;
    padding: 10px 5px;
    clear: both;
  }

  .evand-form-group {
    margin-bottom: 5px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      width: 120px;
    }

    input[type=text],
    input[type=email],
    textarea,
    select {
      width: 100%;
      max-width: 400px;
      line-height: 30px;
      padding: 0 5px;
      border-radius: 3px;
      border: 1px solid #D2D2D2;
      background-color: #fff;
      height: 32px;
      box-sizing: border-box;
      font-size: .9em;
    }
  }

  .notify {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    transition: height .2s;
    line-height: 45px;
    padding: 0;
    z-index: 9999999999;

    &.active {
      height: 50px;
    }
  }
}